.lefthome {
//   background-color: brown;
  height: 100%;

  .top {
    background-color: rgb(236, 222, 18);
    height: 30%;
  }

  .down {
    height: 70%;
    // background-color: rgb(88, 5, 40);
  }
}
