.reactions {
    width: 80%;
    margin-top: 10px;
    cursor: pointer;
    // -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    // box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  
    
   
   

    .reactionBox {
        border: 1px solid grey;
        width: 250px;
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
        background: linear-gradient(#f0f3f5, #a8addb);
        font-size: medium;

        .date{
            color: rgb(138, 101, 101);
        }
        .username{
            color: rgb(109, 46, 46);
            text-transform: capitalize;
        }

        .reaction{
            color: rgb(51, 24, 24);
        }
        
       
        

       
    }

    .reactionBox:hover {
        background: linear-gradient(#5195d46c, #8c94e9);
        // width: 100px;
        // border-radius: 10px;
    }
}