.spinner {
  
    background-color: rgb(236, 236, 236);
    justify-content: center;
    margin-left: 250px;

   

    p {
        font-weight: 700;
        font-size: larger;


    }
    .spinnerImg {
        width: 400px;
        height: 250px;
        font-size: large;
    }
}