.profile {
  display: flex;
  width: 100%;
  // height: 1050px;
  // background-color: chocolate;
  overflow: hidden;

  .leftSide {
    // background-color: rgb(94, 255, 0);
    flex: 2;
    margin-top: 50px;
    margin-left: 15px;
    height: 250px;

    .sidebarList {
      padding: 0;
      margin: 0;
      list-style: none;

      .sidebarListItem {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .sidebarIcon {
          margin-right: 15px;
        }
      }
    }

    .reactions {
      margin-top: 100px;
      margin-right: 10px;
      width: 100%;

      // background: linear-gradient(#48aef1, #f3f3f5);
      // overflow-y:scroll;
    }
  }

  .profileinfo {
    background-color: white;
    margin-left: -10px;
    width: 120%;
    height: 20vh;
    margin-top: 10px;
    .top {
      display: flex;
       
        .image {
          width: 40px;
          border-radius: 20px;
          object-fit: cover;
        }
      
      
      button {
        margin-left: 150px;
        margin-top: 10px;
        width: 100px;
        margin-left: 200px;

        border: none;
        background-color: #1872f2;
        color: white;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
        height: 25px;
      }
    }
    .center {
      margin-top: 30px;
      margin-left: -3px;

      .username {
        text-transform: capitalize;

       

      }
      .joined {
        color: rgb(161, 161, 161);
        margin-left: 10px;
       font-size:smaller;

      }
    }
    .down {

      .followings{
        span {
          color: grey
        }

      }

      .followers{
         margin-left: 10px;
         span {
          color: grey
        }
      }



    }
  }

  .center {
    flex: 10;
    // background-color: aqua;
    width: 250px;
    // margin-right: 350px;
    margin-left: 50px;
    height: auto;

    .image {
      .picBack {
        width: 1400px;
        position: sticky;
        margin-top: 40px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .share {
      width: 750px;
      margin-left: 20px;
      margin-top: 60px;
    }
  }

  .users {
    // background-color: rgb(38, 21, 136);
    display: block;
    margin-top: 380px;
    width: 400px;
    height: 500px;
    cursor: pointer;
    position: fixed;
    margin-left: 1300px;

  
    .suggTop {
      width: 90%;
      height: 110px;
      // background: rgb(223, 216, 216);
      background-color: white;
      overflow-y: scroll;
      // border-radius: 20px;
      margin-top: -315px;
      margin-left: -30px;
      width: 200px;

      // .title {
      //   font-size: medium;
      //   font-family: sans-serif;
      //   align-items: center;
      //   justify-content: center;
      //   margin-left: 65px;
      
      // }

      .suggestions {
        // margin-top: 250px;
        display: flex;
        margin: 10px;
        padding: 5px;

    
      

        .image {
           width: 30px;
          border-radius: 30px;
          height: 30px;
          object-fit: cover;
        }

        .name {
          margin-left: 10px;
          align-items: center;
          justify-content: center;
        }
      }

      .suggestions:hover {
        color: cadetblue;
      }
    }

    .suggTop::-webkit-scrollbar {
      width: 10px;
      background-color: #9cd5e4;
    }

    .suggTop::-webkit-scrollbar-thumb {
      background-color: #000000;
      border: 2px solid #555555;
      border-radius: 10px;
    }

    .friendsList {
      // flex:2;

      overflow-y: scroll;
      position: absolute;
      width: 90%;
      // background-color: white;
      margin-top: 430px;
      margin-bottom: 20px;
      // position: absolute;
      // position: sticky;

     
      .title {
        font-family: sans-serif;
        margin-left: 50px;
      }

      // margin-top: 200px;

      .leftbarFollowings {
        width: 100%;
        // background-color: rgb(199, 118, 12);
        // margin: -10px;

        // height: 100%;
        // background: white;
        // position: absolute;
        border-radius: 10px;
    
   
       
     
       

        .leftbarFollowing {
          display: flex;
          // margin: 10px;
          margin-bottom: -10px;
          margin-left: 60px;
        
        

          .leftbarFollowingName {
            font-size: medium;
            margin: 10px;
            font-family: "Lato", sans-serif;
            color: #42494b;
          }

          .leftbarFollowingImg {
            border-radius: 10px;
            width: 35px;
            margin-top: 10px;
          }
          .online {
            width: 10px;
            border-radius: 50%;
            background-color: rgb(72, 184, 72);
            height: 10px;
            margin-left: -4px;
            margin-top: 10px;
          }
        }
      }
    }

     .expandMore {
        // margin-bottom: 40px;
        margin-top: 500px;
        margin-left: 60px;
        
      }

  }
}
