.profile{
    display: flex;
    width:100%;
    // height: 1050px;
    // background-color: chocolate;
    overflow: hidden;
    
   

    .news {
        // background-color: rgb(94, 255, 0);
        flex:2;
        margin-top: 50px;
        margin-left: 15px;
        height: 250px;

        .sidebarList {
            padding: 0;
            margin: 0;
            list-style: none;
      
            .sidebarListItem {
              display: flex;
              align-items: center;
              margin-bottom: 20px;
      
              .sidebarIcon {
                margin-right: 15px;
              }
      
      
      
            }
      
      
      
      
          }

          .reactions {
            margin-top:100px;
            margin-right:10px;
          }


    }

    .center{
        flex:10;
        // background-color: aqua;
        width:250px;
        margin-right: 350px;
        height: auto;

        .image {
       
        
  
            .picBack {
                width: 1400px;
                position: sticky;
                margin-top: 40px;
                height: 300px;
                object-fit: cover;
                border-radius: 10px;
            }
           
        }

        .share {
          width:750px;
          margin-left: 20px;
          margin-top:8px;
        }


    }

    .users{ 
      // background-color: rgb(38, 21, 136);
     display: block;
     margin-top: 380px;
     width: 400px;
    //  height:500px;
    cursor: pointer;
    position:fixed;
    margin-left: 1300px;

    .title{
      font-family: sans-serif;
      margin-left: 50px;
      margin-bottom: 250px;
    
    }
   
   
   
   
  
  

    .suggTop{
      width:90%;
      height:150px;
      background: linear-gradient(#48aef1, #f3f3f5);
      overflow-y:scroll;
      border-radius: 20px;
      

      .title{
        font-size: medium;
        font-family: sans-serif;
        align-items: center;
        justify-content: center;
        margin-left: 65px;
      }


      .suggestions {
        
        // margin-top: 250px;
        display: flex;
        margin: 10px;
        padding: 5px;
     


        .image{
          width:35px;
          margin-left: 10px;
          border-radius: 10px;
         
        }

        .name{
          margin-left: 10px;
          align-items: center;
          justify-content: center;

        }


      }

      .suggestions:hover{
        color: cadetblue;
      }


    }


    .suggTop::-webkit-scrollbar
{
	width: 10px;
	background-color: #9cd5e4;

}

.suggTop::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
  border-radius: 10px;
  
}

    

    




      .friendsList{
        // flex:2;
     
        overflow-y:scroll;
        position: absolute;
        width:90%;
        // background-color: aqua;
        margin-top: 100px;
        // position: absolute;
        // position: sticky;
       

        .title{
          font-family: sans-serif;
          margin-left: 50px;
        }
       
      
      
       
        // margin-top: 200px;

        .leftbarFollowings{
          width: 100%;
          // background-color: rgb(199, 118, 12);
          margin: 20px;
          // height: 100%;
          background: linear-gradient(#48aef1, #f3f3f5);
          // position: absolute;
          border-radius: 10px;
          
      
        
      
    
    
    
          .leftbarFollowing{
            display: flex;
            margin: 10px;
         
    
    
            .leftbarFollowingName{
              font-size: medium;
              margin: 10px;
              font-family: 'Lato', sans-serif;
              color: #42494b;
            }
    
            .leftbarFollowingImg{
              border-radius: 10px;
              width:35px;
              margin-top: 10px;
             
            }
            .online{
              width:10px;
              border-radius: 50%;
              background-color: rgb(72, 184, 72);
              height: 10px;
              margin-left: -4px;
              margin-top: 10px;
            }
    
    
    
    
    
    
          }
    
    
    
    
    
    
        }

       


    }


    }

 
}